* {
	margin: 0;
}

html {
	background-color: #2c2c2c;
}
.App {
	position: absolute;
	border-radius: 1em;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	gap: 4em;
}

.Output {
	background-color: #161616;
	padding: 1.5em;
	border-radius: 1em;
	width: 16em;
	color: #ffffff;
	font-size: 2rem;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	gap: 1em;
	display: flex;
}

.Title {
	color: #ffffff;
	font-size: 4rem;
	text-align: center;
	text-decoration: underline;
}

input {
	text-align: center;
	color: #000000;
	font-size: 1.6rem;
	padding: 0.5em;
	border-style: none;
	border-radius: 0.3em;
	overflow: auto;
	margin-top: 2em;
}

hr {
	border-style: solid;
}
